*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Header */

header {
  position: fixed;
  background: #030303;
  width: 100%;
}

.container-topo{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 0 10vw;
}

.box-logo{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.logo{
  margin: auto auto auto 0;
}

.box-links{
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.lista-links{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  line-height: 1.6;
  font-size: 1.3rem;
  margin: 0.3vh auto;
}

.item-lista{
  height: 5vh;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-lista:hover{
  color:#f2f2f2;
  background-color: #555;
}

.links{
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 500;
  padding: 0 1rem;
}

/* Banner */

.banner{
  margin: auto;
  background-image: url("../assets/assistindo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
  background-color: #acacac2c;
  border-bottom: 8px #222 solid;
}

.principal{
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.container-right{
  height: 100%;
  width: 100%;
}

.box-form{
  margin: 8vh auto;
  height: 50vh;
  width: 35vh;
  border-radius: 8px;
  padding-top: 1em;
  box-shadow: 0 0 20px 20px rgb(51, 49, 49);
  background-color: #e2dbdb;
}

.titulo-principal{
  margin:auto;
  font-size: 1.7em;
  width: 90%;
  text-align: center;
  margin-bottom: 6vh;
}

.box-form input{
  display: block;
  margin: 20px auto ;
  padding: 10px 10px;
  width: 85%;
  background-color: #58585867;
}

::placeholder {
  color: #101010;
  opacity: 1; 
}

.box-criar-conta{
  display: flex;
  height: 4vh;
  width: 60%;
  margin: auto;
  margin-top: 6vh;
  background: #c533ff;
  border-radius: 20px; 
}

.criar-conta{
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em; 
  text-decoration: none;
  margin: auto;
}

.criar-conta a{
  margin: auto;
}

/* Print */

.box-print {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 10vw;
  background-color: #030303;
  border-bottom: 8px #222 solid;
}

.print{
  margin: auto;
}

.print img{
  height: 50vh;
  margin: auto;
}

.descricao{
  text-align: center;
  margin: auto 15vw auto 0;
  color: #f2f2f2;
  width: 30%;
}

.desc-meio{
  margin: auto 0 auto 15vw;
}

.titulo-secundario{
  font-size: 3.125rem;
}

.subtitulo{
  font-size: 1.5rem;
}

/* Footer */

.rodape{
  display: flex;
  flex-direction: column;
}

.container-rodape{
  padding: 5vh 10vw;
  background-color: #030303;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #222;
}
.box-left, .box-center{
  padding-right: 4vw;
  margin-right: 2vw;
  margin: auto;
}

.chamada, .conteudo{
  color: #f2f2f2;
  max-width: 20vw;
}

.fab{
  color: #f2f2f2;
}

.box-right{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.download img{
  max-width: 10vw;
  margin-bottom: 1vh;
}

.box-redes-sociais{
  text-decoration: none;
}

.fab{
  margin-right: 0.3vw;
}

.fab:hover{
  color: blue;
}

.copyright{
  text-align: center;
  background-color: #030303;
  color: #222;
}